@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

body {
   
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #D6E5FA;
    position: relative;
    background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--BuPz-p40--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/nphrgz8yfnjylrwfr0yl.png");
display: inline;    
}
    
.navbar {
    min-height: 80px;
   
    font-family: 'Anton', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Mochiy Pop P One', sans-serif;
font-family: 'Montserrat', sans-serif;
    
    }
    .d-flex
{
    padding-left: 20px;
}
#logout
{
    padding-left: 700px;
}
.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
  }
  
  .form__field {
    font-family: inherit;
    width: 30%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
margin-left: 50px;
  }
  
    ::placeholder {
      color: transparent;
    }
  
    :placeholder-shown ~ .form__label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: gray;
    margin-left: 50px;
  }
  button{
      margin-left: 20px;
  }
  
  .form__field:focus+.form__label {
     
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: #11998e;
      font-weight:700; 
  }
  .form__field:focus{   
    
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e,#38ef7d);
    border-image-slice: 1;
  }
  h1{
      margin-top: 30px;
      margin-left: 30px;
      color:#28FFBF;
    font-family: 'Anton', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Titillium Web', sans-serif;
  }
  .anchor{
      text-decoration: none;
      color:white;
      font-size: large;
  }
  li{
      text-transform: uppercase;
      color:white;
      font-family: 'Anton', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Mochiy Pop P One', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Source Code Pro', monospace;
font-family: 'Titillium Web', sans-serif;

  }